*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: "komikax";
    src: url("font/KOMIKAX_.ttf") format(truetype);
  }
  @font-face {
    font-family: "Roboto";
    src: url("/font/Roboto-Regular.ttf") format(truetype);
  }
  body{
    background-color: black;
  
  }
  /* Style du header */
  header {
    padding: 0 0.3em;
    z-index: 3;
  }
  h1, .subTitle{
    font-family: "komikax", serif;
    text-align: center;       
  }
  h1{
    font-size: 1.6em;
    text-transform: uppercase;
    color: ghostwhite;
  }
  h2{
    margin-bottom: 0.5em;
    font-family: "komikax", serif;

  }
  li {
    font-family: 'Roboto';
  }
  .subTitle{
    font-style: italic;
    color:crimson;
    font-size: 1.2em;
  }
  /* Style du form select */
  label{
    color: #fff;
    padding-bottom: 1em;
    font-family: 'Roboto';
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }
  select{
    padding: 0.8em;
    border-radius: 10px;
  }
  option {
    font-family: 'Roboto';
  }
  .div__select{
    display: flex;
    flex-direction: column;
    width: 98%;
    z-index: 3;
  }
  /* Style de l'affichage des card */
  #display-heroes{
    font-family: "komikax";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 100vw;
    row-gap : 1em;
    order:2;
  }
  .card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-body h2 {
    background-color: crimson;
    width: 60%;
    text-align: center;
    padding: 0.5em;
    border-radius: 0 0 7px 7px;
  }
  .card-body img{
    width: 60%;
    border-radius: 7px 7px 0 0;
  }
  /* Style de la fenêtre modale*/
.display-modale{
  position: sticky;
    top :0;
    left: 0;
}
  .container-modale {  
   
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;  
    align-items: center;
    order: 1;
    z-index: 2;
   
  }
  .modale{
    background-color: black;
    height: auto;
    width: 90vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color : white;
  }
  .modale ul {
    
    list-style: none;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 0.5em 2em;
   
  }
  .modale h2{
    font-size: 0.9em;
    width: 100%;
  }
  .modale img{
    width: 50vw;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  /* Style du loader */
  .spinner {
    border: 16px solid rgb(212, 212, 212);
    border-top: 16px solid rgb(59, 157, 238);
    border-radius: 50px;
    width: 100px;
    height: 100px;
    position: fixed;
    top : calc(50% - 50px);
    left: calc(50% - 50px);
    animation: spin 2s linear infinite ;
  }
  #superHerosName {
    position: relative;

  }
  /* Animation du loader */
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /*  flêche pour remonter en haut de la page */
  .container-arrow{
    text-decoration: none;
    background-color: rgb(24, 24, 24);
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 2em;
    right: 2em;
    color: white;
    border-radius: 50%;
    z-index: 3;
  }
  /* RESPONSIVE TABLETTE min-width: 768px */
  @media screen and (min-width: 768px) {
        /* Header */
        h1 {
          font-size: 3em;
        }
        .subTitle {
          font-size: 1.5em;
        }
    /* Select */
    form{
      flex-direction: row;
      width: 100%;
      padding: 1em;
      justify-content: center;
    }
    .div__select{
      width: 45%;
    }
  select{
      width: 100%;
    }
    /* Cards */
    #display-heroes {
    display: flex;
    flex-flow: row wrap;
   }
   .card-body{
    width: 45%;
   }
   .card-body img {
    width: 90%;
   }
   .card-body h2{
    width: 90%;
   }
   /* Modales */
   .modale {
    flex-direction: row;
    top: 30%
   }
   .modale img {
    border-radius: 10px 0 0 10px;
    width: 30%;
  }
  .modale li {
    font-size: 0.7em
  }
  }
    /* RESPONSIVE DESKTOP min-width: 960px */
  @media screen and (min-width: 960px){
    /* Cards */
    .card-body {
      width: 23%;
  }
    .card-body h2 {
      font-size: 1em;
    }
    /* Modales */
    .container-modale{
      place-content: center;   
    }
    .modale {
      max-width: 600px;
    }
 
  }
    /* RESPONSIVE LARGE DESKTOP min-width: 1200px */
  @media screen and (min-width: 1200px){
    /* Cards */
    .card-body {
      width: 15%;
  }
    .card-body h2 {
      font-size: 1em;
    }
  }